<h1 class="gamesShow-title">{{ gamesShow.game.name }}</h1>
<section class="gamesShow-page">
  <p>Venue: <a ui-sref="venuesShow({ id: gamesShow.game.venue.id })">{{ gamesShow.game.venue.name }}</a></p>
  <p>Date: {{ gamesShow.game.date | date : format : fullDate }}</p>
  <p>Times: {{ gamesShow.game.start_time | date:'hh:mm a' }} - {{ gamesShow.game.end_time | date:'hh:mm a' }}</p>
  <p>Number of Places: {{ gamesShow.game.no_of_places }}</p>
  <p>Price: £{{ gamesShow.game.price }}</p>
  <p>Organiser: <a ui-sref="usersShow({ id: gamesShow.game.user.id })">{{ gamesShow.game.user.username}}</a></p>
  <p>Email: {{ gamesShow.game.user.email }}</p>
  <p>Mobile: {{ gamesShow.game.user.phone_number }}</p>





  <ol>
    <p>Players:</p>
    <li ng-repeat="membership in gamesShow.game.memberships">
      <p><a ui-sref="usersShow({ id: membership.user.id })">{{membership.user.first_name}} {{membership.user.last_name}}</a></p>
      <button class="btn btn-danger" ng-click="gamesShow.leaveGame(membership)" ng-if="gamesShow.isCurrentUserOrganiser()">Remove Player</button>
    </li>


  </ol>
  <!-- gamesShow.canJoinGame() &&  -->

  <button class="btn btn-primary" ng-click="gamesShow.addMembership()" ng-if="gamesShow.game.$resolved && !gamesShow.alreadyInGame()">Join Game</button>
  <!-- <button ng-click="gamesShow.notAlreadyInGame()">Yo?</button> -->



</section>

<button class="btn btn-primary venue-crud" ng-if="gamesShow.isCurrentUserOrganiser()" ui-sref="gamesEdit({ id: gamesShow.game.id })" class="button">Edit</button>
<button class="btn btn-danger venue-crud" ng-if="main.isLoggedIn() && gamesShow.isCurrentUserOrganiser()" ng-click="gamesShow.delete()">Delete</button>



<!-- {{ gamesShow.game.memberships[0].user.id }} -->
