<section class="register-page">
  <h1 class="register-title">Register</h1>
  <!-- {{register.user}} -->
  <form novalidate ng-submit="register.submit()">

    <div class="form-group">
      <label for="username" class="col-xs-4 register-label">Username</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="Username" name="username" ng-model="register.user.username">
      </div>
    </div>
    <div class="form-group">
      <label for="firstname" class="col-xs-4 register-label">First Name</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" placeholder="First Name" name="firstname" ng-model="register.user.first_name">
      </div>
    </div>
    <div class="form-group">
      <label for="lastname" class="col-xs-4 register-label">Last Name</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" placeholder="Last Name" name="lastname" ng-model="register.user.last_name">
      </div>
    </div>
    <div class="form-group">
      <label for="image" class="col-xs-4 register-label">Image</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" placeholder="Image" name="image" ng-model="register.user.image">
      </div>
    </div>
    <div class="form-group">
      <label for="location" class="col-xs-4 register-label">Location</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" name="location" ng-model="register.user.location" googleplace user="register.user">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-xs-4 register-label">Email</label>
      <div class="col-xs-8">
        <input class="form-control" type="email" placeholder="Email" name="email" ng-model="register.user.email">
      </div>
    </div>
    <div class="form-group">
      <label for="mobile" class="col-xs-4 register-label">Mobile</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" placeholder="Mobile Number" name="mobile" ng-model="register.user.phone_number">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-xs-4 register-label">Password</label>
      <div class="col-xs-8">
        <input class="form-control" type="password" placeholder="Password" name="password" ng-model="register.user.password">
      </div>
    </div>
    <div class="form-group">
      <label for="passwordconfirmation" class="col-xs-4 register-label">Password Confirmation</label>
      <div class="col-xs-8">
        <input class="form-control" type="password" placeholder="Password Confirmation" name="passwordconfirmation" ng-model="register.user.password_confirmation">
      </div>
    </div>
    <button class="btn btn-primary register">Register</button>
  </form>
</section>
