<section class="venuesEdit-page">
  <h1 class="venuesEdit-title">Create Venue</h1>
  <!-- {{venuesNew.venue}} -->
  <form novalidate ng-submit="venuesEdit.update()">

    <div class="form-group">
      <label for="name" class="col-xs-5">Venue Name</label>
      <div class="col-xs-7">
        <input class="form-control" type="text" placeholder="Venue Name" name="name" ng-model="venuesEdit.venue.name">
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-xs-5">Address</label>
      <div class="col-xs-7">
        <input class="form-control" type="text" name="address" ng-model="venuesEdit.venue.address" googleplace venue="venuesNew.venue">
      </div>
    </div>

    <button class="btn btn-primary create-venue">Update Venue</button>
  </form>

  <!-- {{ venuesNew.venue }} -->
</section>
